h1 {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    font-size: 60px;
    color: #ff3333;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #0074e8;
    text-decoration: underline;
    margin-bottom: 10px;
}

h3 {
    font-family: "Arial", sans-serif;
    color: #a00c0c;
    background-color: #505856;
    border: 1px solid #ffd0ff;
    box-shadow: 2px 2px 5px #dd6fff;
    text-shadow: 1px 1px 2px #ffffff;
    padding: 5px;
    margin-bottom: 10px;
}

h4 {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    color: red;
    background-color: #47cfe7;
    border: 2px solid rgb(15, 80, 250);
    box-shadow: 2px 2px 5px rgb(85, 2, 85);
    text-shadow: 1px 1px 2px rgb(128, 255, 9);
    padding: 5px;
    margin-bottom: 10px;
}

p {
    font-family: "Verdana", sans-serif;
    font-size: 18px;
    color: #333333;
    line-height: 1.6;
    margin-bottom: 10px;
    padding: 5px;
}