* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bbffb8;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.principal{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    align-items: left;
}

.anterior{
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 10;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    align-items: left;
}

.siguiente{
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: 10;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    align-items: left;
}

article {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 14px;
    color: #555;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    font-family: Arial, sans-serif;
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

code {
    display: block;
    background-color: #f1f1f1;
    color: #555;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}